<h1 class="text-2xl py-5 font-bold text-gray-900 sm:text-3xl text-center">All Users</h1>

<div class="overflow-x-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('username', 'Username') %></th>
          <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('last_membership_start_date', 'Updated at') %></th>
          <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('price', 'Price') %></th>
          <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('membership_days', 'Remaining Membership (days)') %></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @users_with_memberships.each do |user| %>
            <tr>
              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"><%= user.username %></td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%=user.updated_at%></td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">N/A</td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700" id="membershipDays<%= user.id %>"><%= user.membership_days_remaining %></td>
              <td class="whitespace-nowrap px-4 py-2">
                <a href="#" class="inline-block rounded bg-red-700 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">View</a>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 mt-8"> <!-- Added mt-8 for margin-top -->
  <div class="mx-auto max-w-lg">
    <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">Update User Memberships</h1>

    <%= form_with(url: add_days_admins_membership_path, method: :post, class: "mt-6 space-y-4") do |form| %>
      <div class="grid grid-cols-1 gap-4">

        <div>
          <%= form.label :user_id, "User ID or Name:", class: "sr-only" %>
          <%= form.select :user_id, User.all.order(:name, :asc).map { |m| [m.username, m.id] }, {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
        </div>

        <div>
          <%= form.label :membership_id, "Membership Type:", class: "sr-only" %>
          <%= form.select :membership_id, Membership.all.map { |m| [m.name, m.id] }, {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
        </div>

        <div>
          <%= form.label :order_amount, "Order Amount:", class: "sr-only" %>
          <div class="relative">
            <%= form.number_field :order_amount, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Total amount" %>
          </div>
        </div>

        <div>
          <%= form.label :total_cost, "Total  Cost:", class: "sr-only" %>
          <%= form.number_field :total_cost, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Enter price" %>
        </div>

        <div>
          <%= form.label :action_type, "Action:", class: "sr-only" %>
          <%= form.select :action_type, [["Add", "add"], ["Subtract", "subtract"]], {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
        </div>
      </div>

      <%= form.submit "Submit", class: "block rounded-lg bg-red-700 px-5 py-3 text-sm font-medium text-white mt-4 mx-auto" %>
    <% end %>
  </div>
</div>
