
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Memberships Database</h1>
    <p class="text-gray-500 sm:text-xl">
       User and Membership Data
      </p>
  </div>

  <div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Membership Info</h1>
    </div>

    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
  <thead class="ltr:text-left rtl:text-right">
    <tr>
      <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('username', 'Username') %></th>
      <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('last_membership_start_date', 'Updated at') %></th>
      <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('price', 'Price') %></th>
      <th class="sortable px-4 py-2 font-medium text-gray-900"><%= sort_link('membership_days', 'Remaining Membership (days)') %></th>
      <th class="sortable px-4 py-2 font-medium text-gray-900">Membership Type(s)</th> <!-- New column for Membership Type(s) -->
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <% @users_with_memberships.each do |user| %>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"><%= user.username %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= user.updated_at %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">N/A</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700" id="membershipDays<%= user.id %>"><%= user.membership_days_remaining %></td>
          <td class="whitespace-nowrap px-4 py-2">
            <% if user.memberships.present? %>
              <% user.memberships.each do |membership| %>
                <%= "#{membership.name}: #{membership.days_of_membership} days" %> <br> <!-- Display membership name and days -->
              <% end %>
            <% else %>
              No Membership <!-- Display if user has no memberships -->
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 mt-8">

  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Update a Membership</h1>
    </div>

    <%= form_with(url: add_days_admins_membership_path, method: :post, class: "mt-6 space-y-4 pb-6") do |form| %>
  <div class="grid grid-cols-1 gap-4 p-6">
    <!-- Select dropdown for User ID or Name -->
    <div>
      <%= form.label :user_id, "User ID or Name:", class: "sr-only" %>
      <%= form.select :user_id, User.all.order(:username).map { |m| [m.username, m.id] }, {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
    </div>

    <!-- Select dropdown for Membership Type -->
    <div>
      <%= form.label :membership_id, "Membership Type:", class: "sr-only" %>
      <%= form.select :membership_id, Membership.all.map { |m| [m.name, m.id] }, {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
    </div>

    <!-- Input field for Order Amount -->
    <div>
      <%= form.label :order_amount, "Order Amount:", class: "sr-only" %>
      <div class="relative">
        <%= form.number_field :order_amount, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Total amount" %>
      </div>
    </div>

    <!-- Input field for Total Cost -->
    <div>
      <%= form.label :total_cost, "Total  Cost:", class: "sr-only" %>
      <%= form.number_field :total_cost, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Enter price" %>
    </div>

    <!-- Select dropdown for Action Type -->
    <div>
      <%= form.label :action_type, "Action:", class: "sr-only" %>
      <%= form.select :action_type, [["Add", "add"], ["Subtract", "subtract"]], {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
    </div>
  </div>

  <!-- Submit button -->
  <%= form.submit "Submit", class: "block rounded-lg bg-red-700 px-5 py-3 text-sm font-medium text-white mt-4 mx-auto mb-4" %>
<% end %>

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 mt-8">
  <div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Create a New Membership Type</h1>
    </div>
<%= form_with(model: Membership.new, url: admins_memberships_path, method: :post) do |form| %>
<div class="grid grid-cols-1 gap-4 p-6">
  <!-- Membership Name -->
  <div>
    <%= form.label :name, "Membership Name:", class: "sr-only" %>
    <%= form.text_field :name, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Enter membership name" %>
  </div>

  <!-- SKU -->
  <div>
    <%= form.label :sku, "SKU:", class: "sr-only" %>
    <%= form.text_field :sku, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Enter SKU" %>
  </div>

  <!-- Category -->
  <div>
  <%= form.label :category_id, "Category:", class: "sr-only" %>
  <%= form.select :category_id, Category.all.map { |c| [c.name, c.id] }, {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
  </div>

  <!-- Price (in cents) -->
  <div>
    <%= form.label :price_cents, "Price (in cents):", class: "sr-only" %>
    <%= form.number_field :price_cents, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Enter price (in cents)" %>
  </div>

  <!-- Days of Membership -->
  <div>
    <%= form.label :days_of_membership, "Days of Membership:", class: "sr-only" %>
    <%= form.number_field :days_of_membership, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm", placeholder: "Enter number of days" %>
  </div>

  <!-- Submit button -->
  <%= form.submit "Submit", class: "block rounded-lg bg-red-700 px-5 py-3 text-sm font-medium text-white mt-4 mx-auto mb-4" %>
<% end %>
