<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MejiroGym</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <h5 class="navbar-text">
          Osssuuu! <%= current_user.username if user_signed_in? %>
        </h5>
      </li>

      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="#">
              Mejiro Coin Balance: <%= number_to_currency(@user_credit, unit: "Mejiro Coin: ") %>
            </a>
          <% end %>
          <a class="dropdown-item" href="<%= payment_scanner_path %>">Payment Scanner</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Membership in days</a>
        </div>
      </li>

      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
