 <section class="mx-auto max-w-screen-2xl px-4 py-4 sm:px-6 lg:px-8">
  <div class="shadow-lg bg-white p-6 rounded-lg">
 <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">All Things Mejiro Coin</h1>
    <p class="text-gray-500 sm:text-xl">
       Add Balance and Check User Spending
      </p>
  </div>
  <!-- Content of the div --> <!-- Added shadow container -->

  <div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Add Credit To User</h1>
    </div>

  <!-- Display success notice -->
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <!-- Display error notice -->
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

 <%= form_with(url: admins_add_credit_to_user_path, method: :post, class: 'flex flex-col gap-4') do |form| %>
  <div>
    <%= form.label :user_id, "User ID:", class: "sr-only" %>
    <%= form.select :user_id, User.all.map { |user| [user.username, user.id] }, {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
  </div>

  <div>
    <label for="CreditAmount" class="block text-xs font-medium text-gray-700">Credit Amount</label>
    <%= form.text_field :credit_amount, id: "CreditAmount", placeholder: 'Enter Credit Amount', class: 'mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm' %>
  </div>

  <div>
    <%= form.label :action_type, "Action Type:", class: "sr-only" %>
    <%= form.select :action_type, [["Add", "add"], ["Subtract", "subtract"]], {}, class: "rounded-lg border-gray-200 p-4 w-full text-sm shadow-sm" %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'block w-full bg-red-700 text-white rounded-md px-4 py-2 text-sm font-medium transition hover:bg-red-800' %>
  </div>
<% end %>




<!-- Individual Transactions Section -->
<div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8">
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">User Top Up Receipts</h1>
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 bg-white text-sm">
      <thead class="thead-dark">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">User ID</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Username</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Date</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Credit Amount</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Time</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% if @receipts.present? %>
          <% @receipts.each do |receipt| %>
            <tr>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.user_id %></td>
             <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.user&.username %></td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.timestamp.to_date %></td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.credit_amount.inspect %></td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.timestamp.strftime("%H:%M:%S") %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">No receipts found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @receipts %>
</div>




<div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8">
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Mejiro Coin Data Filter</h1>
  </div>

   <%= form_with(url: admins_mejiro_coin_records_path, method: :get, class: 'filter-form') do |form| %>
    <div class="mb-4">
      <%= form.label :username, class: 'block text-xs font-medium text-gray-700' %>
      <%= form.select :username, User.pluck(:username, :username), { include_blank: 'Select User' }, class: 'mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm' %>
    </div>

    <div class="mb-4">
      <%= form.label :product, class: 'block text-xs font-medium text-gray-700' %>
      <%= form.select :product, MejiroCoinTransaction.pluck(:product, :product).uniq, { include_blank: 'Select Product' }, class: 'mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm' %>
    </div>

    <div class="mb-4">
      <%= form.label :date, class: 'block text-xs font-medium text-gray-700' %>
      <%= form.date_field :date, placeholder: 'Date', class: 'mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm' %>
    </div>

    <div class="mb-4">
      <%= form.label :spend, class: 'block text-xs font-medium text-gray-700' %>
      <%= form.select :spend, options_for_select([['Select Spend', nil], ['Less than 10,000', 10000], ['Between 10,000 and 50,000', 50000], ['More than 50,000', 100000]]), {}, class: 'mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm' %>
    </div>

    <div class="mb-4">
      <%= form.label :time, class: 'block text-xs font-medium text-gray-700' %>
      <%= form.time_field :time, placeholder: 'Time', class: 'mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm' %>
    </div>

    <div class="flex items-center gap-4">
      <%= form.submit 'Filter', class: 'btn btn-secondary btn-secondary-font' %>
      <%= link_to 'Reset Filter', admins_mejiro_coin_records_path, class: 'btn btn-secondary btn-secondary-font' %>
    </div>
  <% end %>
</div>




<!-- Total Usage Section -->
<div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8">
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Total Spend</h1>
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 bg-white text-sm">
      <thead class="thead-dark">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Period</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Total Spend (Mejiro Coins)</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Compare to Previous</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">Today</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_spend_day %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_spend_day, @total_spend_day_prev) %></td>
        </tr>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">This Week</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_spend_week %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_spend_week, @total_spend_week_prev) %></td>
        </tr>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">This Month</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_spend_month %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_spend_month, @total_spend_month_prev) %></td>
        </tr>
        <!-- Add the following rows -->
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">Last Month</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_spend_last_month %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_spend_last_month, @total_spend_last_month_prev) %></td>
        </tr>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">This Year</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_spend_year %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_spend_year, @total_spend_year_prev) %></td>
        </tr>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">Last Year</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_spend_last_year %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_spend_last_year, @total_spend_last_year_prev) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>


<% def compare_to_previous(current, previous) %>
  <% return 'No data available' if previous.nil? %>
  <% change = current - previous %>
  <% percentage_change = (change / previous.to_f) * 100 %>
  <%= "#{percentage_change.round(2)}%" %>
<% end %>

<!-- Total Top Ups Section -->
<div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8">
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Total Top Ups</h1>
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 bg-white text-sm">
      <thead class="thead-dark">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Period</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Total Top Ups (Mejiro Coins)</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Compare to Previous</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
     <tr>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">Today</td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_credit_today %></td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_credit_today, @total_credit_today_prev) %></td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">This Week</td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_credit_week %></td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_credit_week, @total_credit_week_prev) %></td>
    </tr>
    <tr>
     <td class="whitespace-nowrap px-4 py-2 text-gray-700">This Month</td>
     <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= @total_credit_month %></td>
     <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= compare_to_previous(@total_credit_month, @total_credit_month_prev) %></td>
   </tr>

    </tbody>
  </table>
</div>
</div>


<div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8">
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Individual Receipts</h1>
  </div>
<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200 bg-white text-sm">
    <thead class="thead-dark">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">User ID</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Username</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Product ID</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Product Name</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Date</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Product Price</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Amount</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Time</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% @receipts.each do |receipt| %>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.user_id %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.user.username %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.product_id %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            <%= receipt.credit_amount.present? ? "Credit added to account" : receipt.product_name %>
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.timestamp.to_date %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.product_price %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.credit_amount || 0 %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= receipt.timestamp.strftime("%H:%M:%S") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @receipts %>
<div>
</div>
</section>
