<section class="container mx-auto max-w-screen-2xl px-4 py-4 sm:px-6 lg:px-8">
  <div class="shadow-lg bg-white p-6 rounded-lg">
    <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8">
      <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Mejiro Gym Bali</h1>
      <p class="text-gray-500 sm:text-xl">
        The Home of Dutch Style Kickboxing!
      </p>
    </div>

    <main class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6">
      <div class="max-w-xl lg:max-w-3xl">
        <div class="relative -mt-16 block lg:hidden">
          <a class="inline-flex h-16 w-16 items-center justify-center rounded-full bg-white text-red-600 sm:h-20 sm:w-20" href="/">
            <span class="sr-only">Home</span>
            <%= cl_image_tag("https://res.cloudinary.com/dh8uxggfc/image/upload/v1695016725/Mejiro/Logo_4_edn8nr.png", width: 50, height: 50) %>
          </a>

          <h1 class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
            Your Mejiro App 🥊
          </h1>

          <p class="mt-4 leading-relaxed text-gray-500">
           Mejiro Gym Bali, the Home of Dutch Style Kickboxing in Bali.
          </p>
        </div>

<%= form_for(:admin, url: admin_session_path, as: :admin) do |f| %>
  <div class="field mb-4">
    <%= f.label :admin_name %><br />
    <%= f.text_field :admin_name, autofocus: true, class: "w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" %>
  </div>

  <div class="field mb-4">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" %>
  </div>

  <div class="field mb-4">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <button
      class="inline-block shrink-0 rounded-md border border-red-800 bg-red-700 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
    >
      Log in
    </button>
  </div>
<% end %>

<!-- Link to user login -->
<div class="text-center mt-4">
  Not an Admin? <%= link_to "Log in as a user here", new_user_session_path, class: "text-blue-600 hover:underline" %>
</div>
</section>
