  <div class="shadow-lg bg-white p-6 rounded-lg">
  <h1 class="text-2xl py-5 ml-10 font-bold text-gray-900 sm:text-3xl">Member QR Code Information</h1>
  <% if @decoded_data.present? %>
    <div class="flow-root">
      <dl class="-my-3 divide-y divide-gray-100 text-sm">
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Username</dt>
          <dd class="text-gray-700 sm:col-span-2"><%= @decoded_data[:user].username %></dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">User ID</dt>
          <dd class="text-gray-700 sm:col-span-2"><%= @decoded_data[:user_id] %></dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">User Email</dt>
          <dd class="text-gray-700 sm:col-span-2"><%= @decoded_data[:user].email %></dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Membership Days</dt>
          <dd class="text-gray-700 sm:col-span-2"><%= @decoded_data[:user].membership_days %></dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Last Membership Start Date</dt>
          <dd class="text-gray-700 sm:col-span-2"><%= @decoded_data[:user].last_membership_start_date %></dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Credit Balance</dt>
          <dd class="text-gray-700 sm:col-span-2"><%= @decoded_data[:credit].balance %></dd>
        </div>
      </dl>
    </div>
  <% else %>
    <p>No decoded data available.</p>
  <% end %>
</body>
</html>
