
   <section class="mx-auto max-w-screen-2xl px-4 py-4 sm:px-6 lg:px-8 bg-red-400">
  <div class="shadow-lg bg-white p-6 rounded-lg">
  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Mejiro Gym Admin Dashboard</h1>
    </div>

    <ul>
  <li>

    <%= link_to qr_code_scanner_path, class: "flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700" do %>

     <%= heroicon "identification", options: { class: "w-6 h-6"} %>

      <span class="text-sm font-medium"> Member Information Scanner </span>
    <% end %>
  </li>

  <li>
    <%= link_to admins_show_membership_path, class: "flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700" do %>

     <%= heroicon "finger-print", options: { class: "w-6 h-6"} %>

      <span class="text-sm font-medium"> Memberships </span>
    <% end %>
  </li>

  <li>
    <%= link_to book_a_private_class_path, class: "flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700" do %>

     <%= heroicon "bookmark", options: { class: "w-6 h-6"} %>

      <span class="text-sm font-medium"> Private Classes </span>
      <% end %>
  </li>

  <li>
    <%= link_to admins_mejiro_coin_records_path, class: "flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700" do %>

     <%= heroicon "currency-dollar", options: { class: "w-6 h-6"} %>

      <span class="text-sm font-medium"> Mejiro Coin Data </span>
      <% end %>
  </li>

  <!--<li>
    <%= link_to 'https://dashboard.stripe.com/login', class: "flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700" do %>

     <%= heroicon "credit-card", options: { class: "w-6 h-6"} %>

      <span class="text-sm font-medium"> Stripe </span>
      <% end %>
  </li> -->

 <li>
    <%= link_to new_admins_weekly_class_schedule_path, class: "flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700" do %>

     <%= heroicon "calendar-days", options: { class: "w-6 h-6"} %>

      <span class="text-sm font-medium"> Weekly Class Schedule </span>
      <% end %>
  </li>

  <li>
    <%= link_to new_admins_product_path, class: "flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700" do %>

     <%= heroicon "truck", options: { class: "w-6 h-6"} %>

      <span class="text-sm font-medium"> Inventory Management </span>
      <% end %>
  </li>
</ul>
</section>
