  <div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Inventory Management</h1>
    <p class="text-gray-500 sm:text-xl">
       Update and remove products
      </p>
  </div>

<div class="flex flex-col rounded-lg border border-red-900 px-4 py-2 text-center mb-8"> <!-- Added mb-8 for margin bottom -->
    <h1 class="text-2xl text-center py-2 font-bold text-gray-900 sm:text-3xl">Enter a New Product</h1>

    <div class="container mx-auto max-w-md">

    <%= form_for(product, url: admins_products_path, method: product.new_record? ? :post : :patch) do |form| %>
      <div class="mx-auto max-w-md"> <!-- Center the form and limit its maximum width -->
        <% if product.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
              <% product.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-4">
          <label for="ProductName" class="block text-xs font-medium text-gray-700">Product Name</label>
          <%= form.text_field :name, id: "ProductName", class: "rounded-md ml-2 sm:w-auto border-gray-200 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="mb-4">
          <label for="ProductPrice" class="block text-xs font-medium text-gray-700">Product Price</label>
          <%= form.text_field :price, id: "ProductPrice", class: "rounded-md ml-2 sm:w-auto border-gray-200 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="mb-4">
          <label for="ProductInStock" class="block text-xs font-medium text-gray-700">In Stock</label>
          <%= form.check_box :in_stock, id: "ProductInStock", class: 'mt-1' %>
        </div>

        <div class="mb-4">
          <label for="ProductCurrency" class="block text-xs font-medium text-gray-700">Price Currency</label>
          <%= form.text_field :price_currency, id: "ProductCurrency", class: "rounded-md ml-2 sm:w-auto border-gray-200 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="mb-4">
          <label for="ProductCategory" class="block text-xs font-medium text-gray-700">Product Category</label>
          <%= form.text_field :category, id: "ProductCategory", class: "rounded-md ml-2 sm:w-auto border-gray-200 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"%>
        </div>

        <div class="mb-4 text-center"> <!-- Center the Save button -->
          <%= form.submit 'Save', class: 'block bg-red-700 text-white rounded-md px-4 py-2.5 text-sm font-medium transition hover:bg-red-800' %>
        </div>
      </div>
    <% end %>
  </div>
</div>






<div class="text-center">
  <h1 class="text-2xl py-5 font-bold text-gray-900 sm:text-3xl">Current Registered Products</h1>
</div>

<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Price</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">In Stock</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Price Currency</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Category</th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <% Product.all.each do |product| %>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"><%= product.name %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.price %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.in_stock ? 'Yes' : 'No' %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.price_currency %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.category %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
