<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Price</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">In Stock</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Price Currency</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Category</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Actions</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <% Product.all.each do |product| %>
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.name %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.price %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.in_stock ? 'Yes' : 'No' %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.price_currency %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= product.category %></td>
          <td class="whitespace-nowrap px-4 py-2">
            <%= link_to "View", admins_product_path(product), class: "inline-block rounded bg-red-700 px-4 py-2 text-xs font-medium text-white hover:bg-red-800" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center mt-4">
  <%= link_to "Back to Inventory Management", new_admins_product_path, class: "block bg-gray-200 text-gray-800 rounded-md px-4 py-2.5 text-sm font-medium transition hover:bg-gray-300" %>
</div>
