<!DOCTYPE html>
<html>
<head>
  <title>MejiroGym</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'card_margins', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'fonts' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'containers', media: 'all' %>
  <%= stylesheet_link_tag 'buttons' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render "shared/navbar" %>
  <div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
    <div class="content">
      <%= link_to root_path do %>
        <i class="fas fa-arrow-left"></i> <!-- Use 'fas' for solid style, or 'far' for regular style -->
      <% end %>

      <!-- Show the "Mejiro Coin Balance" unconditionally -->
      <% if notice.present? || alert.present? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
