<!DOCTYPE html>
<html>
  <head>
    <title>MejiroGym</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <h1>Navbar placeholder</h1>
  <%= link_to "<- Go back home", root_path %>
    <%= yield %>
  </body>
</html>
